@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: #DDCEBD;
    background: #AB5E3F;
  }

img {
   -webkit-user-drag: none;
 }

a {
    text-decoration: none;
}

body {
    font-family: "Zilla Slab", serif;
    text-transform: uppercase;
    overflow-x: hidden;
    background: #F6F1EB;
    color: #000;
    padding: 25px 200px;
}

.navbar, .first-container, .title-jp, .second-container, .third-container, .txt-jp-en, .fourth-container, .end {
    max-width: 1920px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0 0 5rem;
    margin: 0 auto;
}

.navbar-left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.navbar-left h1 {
    font-size: clamp(12px, 2.5vw, 32px);
    font-weight: 100;
}

.navbar-left p {
    font-size: clamp(12px, 1.27vw, 16.3px);
    font-weight: 100;
}

.navbar-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-center .logo {
    height: 75px;
}

.navbar-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navbar-right a {
    text-decoration: none;
    color: #000;
    margin: 3px 0;
    font-size: 14px;
    text-align: right;
}

.navbar-left:hover,
.navbar-right a:hover {
    color: #AB5E3F;
}

.first-container {
    position: relative;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    gap: 10px;
}

.first-container .mark {
    position: absolute;
    top: 200px;
    left: 65px;
    height: auto;
    width: auto;
}

.first-container .txt-jp {
    position: absolute;
    top: 285px;
    left: 360px;
}

.first-container .txt p {
    font-size: 20px;
    width: 680px;
}

.first-container .txt {
    align-content: end;
}

.first-container .sugimoto-img {
    object-fit: cover;
    height: 480px;
    width: 50%;
}

.first-container .name {
    position: absolute;
    bottom: -25px;
    right: 0;
}

.first-container .name-jp {
    position: absolute;
    top: 0;
    right: -25px;
}

.first-container h2 {
    font-size: 16px;
}

.title-jp {
    margin: 0 auto;
}

.title-jp h1 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: end;
    padding: 80px 0;
    line-height: 25px;
}

h1, h2 {
    font-weight: 400;
}

.second-container {
    display: grid;
    grid-template-columns: 10fr 1fr;
    gap: 10px;
    margin: 0 auto;
}

.image-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img-expo {
    width: 100%;
    object-fit: cover;
}

.text-en, .text-jp {
    text-align: end;
}

.text-en {
    font-size: 20px;
}

.text-jp {
    font-size: 20px;
}

.third-container {
    margin: 0 auto;
    padding: 80px 0 0;
}

.third-container h1 {
    text-align: center;
    font-size: 36px;
}

.third-container p {
    text-align: center;
    padding: 25px 0 60px;
    font-size: 18px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.grid-item {
    text-align: center;
}

.grid-item img {
    width: 100%;
}

.grid-item p {
    text-align: left;
    margin-top: 10px;
    font-size: 18px;
    padding: 0 0 15px;
}

.txt-jp-en {
    display: flex;
    flex-direction: column;
    padding: 80px 0;
    margin: 0 auto;
}

.jp-container {
    display: flex;
    padding: 0 0 30px ;
}

.jp-container h1, .jp-container p,
.en-container h1, .en-container p {
    font-size: 16px;
}

.jp-container h1,
.en-container h1 {
    width: 40%;
    font-weight: 500;
}

.jp-container p,
.en-container p {
    width: 60%;
    font-weight: 400;
    line-height: 25px;
}

.jp-container h1, .en-container h1 {
    text-align: center;
    align-content: center;
}

.jp-container p {
    text-align: right;
    align-content: center;
}

.en-container p {
    text-align: left;
    align-content: center;
}

.en-container {
    display: flex;
    padding: 30px 0 0 ;
}

.fourth-container {
    display: flex;
    position: relative;
    margin: 0 auto;
}

.fourth-container img {
    object-fit: cover;
    height: 680px;
    width: 100%;
}

.fourth-container .name {
    position: absolute;
    bottom: -25px;
    right: 0;
}

.fourth-container .name h2, .fourth-container .name-jp h2 {
    font-size: 16px;
}

.fourth-container .name-jp {
    position: absolute;
    text-align: center;
    top: 0;
    right: -25px;
}

.end {
    padding: 5rem 0 0;
    text-align: center;
    line-height: 24px;
    margin: 0 auto;
    font-size: 16px;
    text-transform: initial;
}
  
.blue-link {
    color: #AB5E3F;
    font-weight: 600;
}





/* RESPONSIVE */

@media (max-width: 1850px) {
    .text-en {
        font-size: 17px;
    }
    
    .text-jp {
        font-size: 17px;
    }
}

@media (max-width: 1600px) {
    body {
        padding: 25px 0;
    }

    .navbar, .first-container, .title-jp, .second-container, .third-container, .txt-jp-en, .fourth-container, .end {
        max-width: 1200px;
    }

    .text-en {
        font-size: 15.6px;
    }
    
    .text-jp {
        font-size: 15.6px;
    }
}

@media (max-width: 1300px) {
    body {
        padding: 30px 25px;
    }

    .navbar {
        padding: 0 0 3rem;
    }

    .navbar-left h1 {
        font-size: 24px;
    }

    .navbar-left p {
        font-size: 12.35px;
    }
    
    .navbar-center .logo {
        height: 65px;
    }

    .first-container {
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
    }

    .first-container .sugimoto-img {
        object-fit: contain;
        height: 500px;
    }

    img.mark, h2.txt-jp, .name, .name-jp {
        display: none;
    }

    .first-container .sugimoto-img {
        width: 100%;
    }

    .first-container .txt p {
        width: 100%;
        padding: 50px 0 15px;
        text-align: center;
    }

    .title-jp h1 {
        padding: 15px 0 50px;
        text-align: center;
    }

    .second-container {
        grid-template-columns: auto;
        gap: 30px;
    }

    .image-text {
        gap: 50px;
    }

    .text-en, .text-jp {
        font-size: 20px;
        text-align: center;
    }

    .end {
        padding: 3rem 0 0;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 0 0 2rem;
    }

    .navbar-left {
        display: none;
    }

    .navbar-center {
        flex: 0;
    }
    
    .first-container .sugimoto-img {
        height: 100%;
    }

    .first-container .txt p {
        font-size: 16px;
        padding: 25px 0 10px;
    }

    .title-jp h1 {
        font-size: 16px;
        padding: 10px 0 25px;
    }

    .image-text {
        gap: 25px;
    }

    .text-en, .text-jp {
        font-size: 16px;
    }

    .second-container {
        gap: 20px;
    }

    .line {
        background-color: rgb(70, 70, 70);
        width: 50%;
        height: 1px;
        margin: 50px auto 0;
    }

    .third-container {
        padding: 50px 0;
    }

    .third-container h1 {
        font-size: 32px;
    }

    .third-container p {
        padding: 20px 0 35px;
        font-size: 16px;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-item p {
        font-size: 14px;
        padding: 0;
        margin: 5px 0 0;
    }

    .txt-jp-en {
        padding: 0 0 50px;
    }

    .jp-container h1, .en-container h1,
    .jp-container p, .en-container p {
        width: 100%;
        text-align: center;
    }
    
    .jp-container {
        flex-direction: column;
        text-align: center;
    }

    .en-container {
        flex-direction: column-reverse;
    }

    .jp-container h1, .en-container h1 {
        padding: 0 0 25px;
    }

    .end {
        padding: 2rem 0 0 ;
    }
}