@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Zilla Slab", serif;
    text-transform: uppercase;
    overflow-x: hidden;
    background: #F6F1EB;
    color: #000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 55px;
}

.navbar-left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.navbar-left h1 {
    font-size: 48px;
    font-weight: 100;
}

.navbar-left p {
    font-size: 24.4px;
    font-weight: 100;
}

.navbar-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-center .logo {
    height: 75px;
}

.navbar-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navbar-right a {
    text-decoration: none;
    color: #000;
    margin: 3px 0;
    font-size: 14px;
    text-align: right;
}
